.about-team__list {
  display: flex;

  @include tablets {
    flex-direction: column;
  }
}

.about-team__item {
  margin-right: rem(20px);
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  flex: 1;

  &--active {
    .about-team__btn {
      transform: rotate(180deg);
    }
  }

  &:last-child {
    margin-right: 0;
  }

  @include tablets {
    margin-bottom: 16px;

    &:last-child {
      margin-bottom: 0;
    }
  }
}

.about-team__description {
  height: 0;
  overflow: hidden;
  transition: height 300ms;

  &--container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

.about-team__title {
  background-color: unset;
  display: flex;
  align-items: center;
  padding: 0;
  margin-bottom: rem(8px);
  font-weight: bold;

  &:focus {
    outline: none;
  }
}

.about_team__role {
  margin-bottom: rem(4px);
  font-weight: 600;

  &--column {
    font-weight: bold;
  }
}

.about-team__name {
  margin-right: rem(4px);

  &:last-child {
    margin-right: 0;
  }
}

.about-team__btn {
  width: rem(8px);
  height: rem(8px);
  fill: $button-green;
}

.about-team__avatar {
  margin-bottom: rem(21px);
  min-height: rem(290px);
}

.about_team__characteristic {
  width: rem(200px);
  font-weight: 300;
}

.about-team__desktop {
  @include tablets {
    display: none;
  }
}

.about-team__mobile {
  display: none;

  @include tablets {
    display: block;
  }
}
