.accordion {
  font-family: Alegreya Sans, sans-serif;
  background: url("../images/content/slider.png") center center /cover no-repeat;
}

.accordion__container {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}

.accordion__slide {
  &-title {
    margin-top: 115px;
    margin-left: 84px;
    font-weight: bold;
    font-size: $x-large-font-size;
    line-height: $x-large-line-height;
    text-transform: uppercase;
    color: $white-color;

    &-container {
      width: 50%;
      height: 100%;
    }
  }

  &-tabs {
    width: 50%;
    height: 100%;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
  }
}
