.form-section {
  background: url("../images/content/bckgr.png") center center no-repeat;
  background-size: cover;
  padding: 62px 0 85px;

  &:after {
    content: '';
    background: url('../images/content/green-leave.png') center center no-repeat;
    position: absolute;
    width: 135px;
    height: 188px;
    right: 10px;
    bottom: 58px;
  }

  &:before {
    content: '';
    background: url('../images/content/blackberry.png') center center no-repeat;
    position: absolute;
    width: 47px;
    height: 48px;
    left: 51px;
    bottom: 69px;
  }
}

.form-section__title {
  color: $button-green;
}
