.hamburger {
  width: 24px;
  height: 20px;
  display: none;
  flex-direction: column;
  justify-content: space-between;

  @include tablets {
    display: inline-flex;
  }
}

.hamburger__line {
  display: block;
  background: $why-section-color;
  height: 4px;
  border-radius: 10px;
}
