.header {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    line-height: rem(30px);
    margin-bottom: rem(84px);

    @include tablets {
        margin-bottom: 0;
    }
}

.header__logo {
    font-family: Alegreya Sans, sans-serif;
    font-size: rem($large-font-size);
    font-weight: 400;
    text-transform: uppercase;
    fill: $why-section-color;
}

.header__btns {
    @include tablets {
        display: none;
    }
}

.header__btn {
    display: none;
    @include tablets {
        display: flex;
    }
}

.phone-number.header__phone-number {
    white-space: nowrap;
    margin-top: 5px;

    @include tablets {
        display: none;
    }
}

.header__icon {
    margin-right: rem(6px);
}
