.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    line-height: 30px;
    margin-bottom: 84px;
}

.header__logo {
    font-family: Alegreya Sans, sans-serif;
    font-size: 36px;
    font-weight: 400;
    text-transform: uppercase;
    fill: $why-section-color;
}

.header__btns {
    @include tablets {
        display: none;
    }
}

.header__btn {
    display: none;
    @include tablets {
        display: flex;
    }
}

.header__phone-number {
    display: flex;
    align-items: center;
    text-decoration: none;

    &:before {
        content: '';
        background: url('../images/icons/phone.svg') center center no-repeat;
        width: 14px;
        height: 14px;
        margin-right: 6px;
    }
}

.header__icon {
    margin-right: 6px;
}
