.main-content {
  margin-bottom: 64px;
  width: 353px;
}

.main-content__title {
  text-transform: uppercase;
}

.main-content__title {
  font-weight: bold;
  font-size: 48px;
  line-height: 58px;
  margin-bottom: 17px;
}

.main-content__text {
  margin-bottom: 32px;
}

.main-content__button {
  border: none;
  display: inline-block;
}
