.media-section {
  position: relative;
  padding: rem(62px) 0;
  background-color: #F8FAF9;

  &__player {
    width: rem(662px);
    height: rem(391.82px);
    background-color: #fff;
    margin-top: rem(32px);
  }

  &:after {
    content: '';
    position: absolute;
    background: url('../images/content/leave_blur.png') center center no-repeat;
    width: rem(90px);
    height: rem(77px);
    right: rem(101px);
    top: rem(81px);
  }

  &:before {
    content: '';
    position: absolute;
    background: url('../images/content/leave.png') center center no-repeat;
    width: rem(72px);
    height: rem(135px);
    left: rem(97px);
    bottom: rem(68px);
  }

  &__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
}

.media-section__title {
  margin-bottom: 0;
}
