.menu {
    margin: 0 30px;
    padding-top: 5px;
}

.menu__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: rem(10px);
}

.menu__item {
    margin-right: rem(27px);

    &:last-child {
        margin-right: 0;
    }

    @include desktop {
        margin-right: rem(27px);
    }

    @include tablets {
        margin-bottom: rem(32px);
    }
}

.menu__link {
    font-size: rem($x-medium-font-size);
    line-height: 0;
    text-decoration: none;
    white-space: nowrap;
}
