.reasons__list {
  display: flex;

  @include phablets {
    flex-direction: column;
    align-items: center;
  }
}

.reasons__item {
  flex: 1;
  padding: 0 3%;
  position: relative;
  width: rem(276px);

  @include phablets {
    width: 100%;
    padding: 0;
    margin-bottom: 19px ;
  }

  &:before {
    content: url("../images/content/shapes.png");
    position: absolute;
    top: rem(30px);
    right: 0;
    transform: translate(50%);

    @include tablets {
      display: none;
    }
  }

  &:first-child {
    padding-left: 0;
  }

  &:last-child {
    padding-right: 0;

    &:before {
      display: none;
    }
  }
}
