.reviews-section {
  position: relative;
  padding: rem(62px) 0;
  background: url("../images/content/strawberries.png") right rem(23px) top rem(38px) no-repeat;

  &:after {
    content: '';
    background: url('../images/content/berries.png') center center no-repeat;
    position: absolute;
    width: rem(136px);
    height: rem(321px);
    left: 0;
    bottom: rem(-157px);
  }
}

.reviews-section__title {
  margin-bottom: 0;
}
