.reviews-section {
  position: relative;
  padding: 62px 0;
  background: url("../images/content/strawberries.png") right 23px top 38px no-repeat;

  &:after {
    content: '';
    background: url('../images/content/berries.png') center center no-repeat;
    position: absolute;
    width: 136px;
    height: 321px;
    left: 0;
    bottom: -157px;
  }
}

.reviews-section__title {
  margin-bottom: 0;
}
