.secondary-content {
  @include tablets {
    display: none;
  }
}

.secondary-content__list,
.secondary-content__item {
  display: flex;
}

.secondary-content__item {
  display: flex;
  width: rem(166px);
  margin-right: rem(8px);
  align-items: flex-start;
}

.secondary-content__icon {
  margin-right: rem(11px);
  width: rem(41px);
  height: rem(41px);
  fill: $why-section-color;
}
