.socials__list {
  display: flex;
}

.socials__item {
  width: 20px;
  margin-right: rem(14px);

  &:last-child {
    margin-right: 0;
  }
}

.socials__icon {
  fill: #B3B3B3;
}

.socials__icon--active {
  transition: fill 300ms linear;
  fill: #000000;
}

.socials__item--active {
  fill: black;
}
