.specifications {
  margin-top: rem(27px);

  &__container {
    display: flex;
    align-items: center;
    justify-content: flex-start;

    @include tablets {
      margin-left: rem(-66px);
    }
  }

  &__title {
    font-size: rem(16px);
    color: #666666;
  }

  &__value {
    font-weight: bold;
    font-size: rem(18px);
    color: #000000;
  }

  &__weight {
    margin-left: rem(86px);

    @include tablets {
      margin-left: rem(44px);
    }
  }

  &__item {
    text-align: left;
  }

}
