.types {
  height: 100%;
}
.types__list {
  display: flex;
  list-style: none;
  align-items: flex-end;
  justify-content: flex-end;
  height: 100%;
  margin: 0;
  padding: 0;
}
.types__item {
  position: relative;
  min-width: 90px;
  height: 100%;
  cursor: pointer;
  display: flex;
}
.types__item_milk {
  background: url("../images/content/milk.png");
}
.types__item_honey {
  background: url("../images/content/honey.png");
}
.types__item_berry {
  background: url("../images/content/berry.png");
}