.footer {
  position: absolute;
  bottom: 0;
  left: 0;
  min-height: rem(87px);
  width: 100%;
  background: $white-color;
}

.footer__container {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 0 35px;

  @include phablets {
    flex-direction: column;
  }
}

.footer__contacts {
  display: flex;
  flex-direction: column;

  @include phablets {
    margin-bottom: 10px;
    align-items: center;
  }
}
