.form-section {
  background: url("./images/content/bckgr.png") center center no-repeat;
  background-size: cover;
  padding: rem(62px) 0 rem(85px);
  position: relative;

  &:after,
  &:before {
    @include tablets {
      display: none;
    }
  }

  &:after {
    content: '';
    background: url('./images/content/green-leave.png') center center / contain no-repeat;
    position: absolute;
    width: rem(135px);
    height: rem(188px);
    right: rem(10px);
    bottom: rem(58px);
  }

  &:before {
    content: '';
    background: url('./images/content/blueberry.png') center center no-repeat;
    position: absolute;
    width: rem(47px);
    height: rem(48px);
    left: rem(51px);
    bottom: rem(69px);
  }
}

.form-section__title {
  color: $button-green;
}

.form-section__container {
  @include tablets {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}
