@import "normalize.css";
@font-face {
  font-family: "Alegreya Sans";
  src: url("fonts/AlegreyaSans-Regular.ttf") format("truetype");
}
html {
  font-size: 18px;
}
@media screen and (max-width: 768px) {
  html {
    font-size: 17px;
  }
}
@media screen and (max-width: 480px) {
  html {
    font-size: 16px;
  }
}

body,
html {
  height: 100%;
}

body {
  font-family: "Open Sans", Helvetica, sans-serif;
  font-size: 0.8888888889rem;
  line-height: 1.42;
  color: #666666;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.wrapper {
  overflow: hidden;
  min-height: 100%;
  position: relative;
}

.container {
  margin: 0 auto;
  width: 95%;
  max-width: 940px;
}
@media screen and (max-width: 480px) {
  .container {
    width: 85%;
  }
}

.dark-container {
  color: #ffffff;
}

.fullscreen-section {
  height: 100vh;
  min-height: 36.1111111111rem;
}

button {
  border: 0;
  cursor: pointer;
}

* {
  box-sizing: border-box;
}

ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: normal;
  margin: 0;
}

p {
  margin: 0;
  padding: 0;
}

button[type=button] {
  cursor: pointer;
  background-color: transparent;
}

a {
  color: inherit;
  cursor: pointer;
}

img {
  display: block;
  max-width: 100%;
  max-height: 100%;
}

.btn {
  padding: 1.1666666667rem 2.2777777778rem;
  font-weight: 800;
  font-size: 1.0555555556rem;
  line-height: 1;
  border-radius: 5.5555555556rem;
  text-transform: uppercase;
  text-decoration: none;
}
.btn:focus {
  outline: none;
}
.btn--white {
  color: #365A49;
  background-color: #ffffff;
  transition: color 300ms linear, background-color 300ms linear;
}
.btn--white:hover {
  color: #ffffff;
  background-color: #365A49;
}
.btn--green {
  color: #ffffff;
  background-color: #365A49;
  transition: color 300ms linear, background-color 300ms linear;
}
.btn--green:hover {
  color: #365A49;
  background-color: #ffffff;
}
.btn--transparent {
  background-color: transparent;
  color: #000000;
  text-transform: none;
  transition: color 300ms linear, background-color 300ms linear;
}
.btn--transparent:hover {
  color: #365A49;
}

.section {
  font-family: Alegreya Sans, sans-serif;
  padding: 8.3333333333rem 0;
}
.section--green {
  color: #365A49;
}
.section--green .section__title {
  color: inherit;
}

.section__header {
  font-size: 2.6666666667rem;
  font-weight: bold;
  line-height: 2.6666666667rem;
}
@media screen and (max-width: 480px) {
  .section__header {
    text-align: center;
  }
}

.section__title {
  text-align: center;
  font-size: 2.6666666667rem;
  font-weight: bold;
  margin-bottom: 3.3333333333rem;
  text-transform: uppercase;
  color: #000000;
}

.medium-text {
  font-size: 1.1666666667rem;
  line-height: 1.3888888889rem;
}

.x-medium-text {
  font-size: 1rem;
  line-height: 1.2222222222rem;
}

.small-text {
  font-size: 0.8888888889rem;
  line-height: 1rem;
}

.h1 {
  font-weight: bold;
  font-size: 2.6666666667rem;
  line-height: 3.2222222222rem;
}

.phone-number {
  display: flex;
  align-items: center;
  text-decoration: none;
}

.phone-number--green {
  display: flex;
  align-items: center;
  color: #365A49;
}

.phone-number__icon {
  width: 0.7777777778rem;
  height: 0.8333333333rem;
  fill: #ffffff;
}

.phone-number__icon--green {
  fill: #365A49;
}

.phone-number__text {
  margin-left: 0.3333333333rem;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  line-height: 1.6666666667rem;
  margin-bottom: 4.6666666667rem;
}
@media screen and (max-width: 768px) {
  .header {
    margin-bottom: 0;
  }
}

.header__logo {
  font-family: Alegreya Sans, sans-serif;
  font-size: 2rem;
  font-weight: 400;
  text-transform: uppercase;
  width: 2.9444444444rem;
  height: 2.1111111111rem;
}

@media screen and (max-width: 768px) {
  .header__btns {
    display: none;
  }
}

.header__btn {
  display: none;
}
@media screen and (max-width: 768px) {
  .header__btn {
    display: flex;
  }
}

.phone-number.header__phone-number {
  white-space: nowrap;
  margin-top: 5px;
}
@media screen and (max-width: 768px) {
  .phone-number.header__phone-number {
    display: none;
  }
}

.header__icon {
  width: 2.9444444444rem;
  height: 2.1111111111rem;
  fill: #ffffff;
}

.menu {
  margin: 0 30px;
  padding-top: 5px;
}

.menu__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 0.5555555556rem;
}

.menu__item {
  margin-right: 1.5rem;
}
.menu__item:last-child {
  margin-right: 0;
}
@media screen and (max-width: 1200px) {
  .menu__item {
    margin-right: 1.5rem;
  }
}
@media screen and (max-width: 768px) {
  .menu__item {
    margin-bottom: 1.7777777778rem;
  }
}

.menu__link {
  font-size: 1rem;
  line-height: 0;
  text-decoration: none;
  white-space: nowrap;
}

.hamburger {
  width: 24px;
  height: 20px;
  display: none;
  flex-direction: column;
  justify-content: space-between;
  background-color: transparent;
  padding: 0;
}
@media screen and (max-width: 768px) {
  .hamburger {
    display: inline-flex;
  }
}

.hamburger__line {
  display: block;
  background: #ffffff;
  height: 4px;
  border-radius: 10px;
  width: 100%;
}

.main-section {
  padding: 1.3333333333rem 0 2.7777777778rem;
  background: url("../images/content/pattern.png") right bottom no-repeat, #61C4D9;
  font-family: Alegreya Sans, sans-serif;
  position: relative;
}
@media screen and (max-width: 768px) {
  .main-section {
    background-position: right bottom 90%;
  }
}
@media screen and (max-width: 768px) {
  .main-section:before, .main-section:after {
    display: none;
  }
}
.main-section:before {
  content: "";
  background: url("../images/content/bars.png") center center no-repeat;
  position: absolute;
  width: 28.8888888889rem;
  height: 35.7777777778rem;
  right: 0.6111111111rem;
  top: 3.0555555556rem;
}
.main-section:after {
  content: "";
  background: url("../images/content/leave.png") center center no-repeat;
  position: absolute;
  width: 3.2777777778rem;
  height: 6.2222222222rem;
  left: 2.0555555556rem;
  top: 31.7222222222rem;
}

.main-section__container {
  position: relative;
}
@media screen and (max-width: 768px) {
  .main-section__container {
    height: 100%;
  }
}

.main-content {
  margin-bottom: 3.5555555556rem;
  width: 19.6111111111rem;
}
@media screen and (max-width: 768px) {
  .main-content {
    width: 100%;
    height: 100%;
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  .main-content:before {
    content: "";
    background: url("../images/content/bars_768.png") center center/contain no-repeat;
    width: 19.1666666667rem;
    height: 19.3888888889rem;
    margin-bottom: 0.8888888889rem;
  }
}

.main-content__title {
  text-transform: uppercase;
  font-weight: bold;
  font-size: 2.6666666667rem;
  line-height: 3.2222222222rem;
  margin-bottom: 0.9444444444rem;
}

.main-content__text {
  margin-bottom: 1.7777777778rem;
}
@media screen and (max-width: 768px) {
  .main-content__text {
    padding: 0 25%;
  }
}
@media screen and (max-width: 480px) {
  .main-content__text {
    padding: 0 15%;
  }
}

.main-content__button {
  border: none;
  display: inline-block;
}

@media screen and (max-width: 768px) {
  .secondary-content {
    display: none;
  }
}

.secondary-content__list,
.secondary-content__item {
  display: flex;
}

.secondary-content__item {
  display: flex;
  width: 9.2222222222rem;
  margin-right: 0.4444444444rem;
  align-items: flex-start;
}

.secondary-content__image {
  margin-right: 0.6111111111rem;
  width: 2.2777777778rem;
  height: 2.2777777778rem;
}

.secondary-content__icon {
  fill: #ffffff;
  width: 2.2777777778rem;
  height: 2.2777777778rem;
}

.why-section {
  padding: 5.6666666667rem 0 6.2222222222rem;
  background: #ffffff;
  font-family: Alegreya Sans, sans-serif;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background: url("../images/content/grey-leave.png") left top 57% no-repeat;
}
@media screen and (max-width: 768px) {
  .why-section {
    background-position: left top 7%;
  }
}
@media screen and (max-width: 480px) {
  .why-section {
    background: none;
  }
}
.why-section:after {
  content: "";
  background: url("../images/content/rasberry.png") center center no-repeat;
  position: absolute;
  width: 8.9444444444rem;
  height: 17.5rem;
  left: -0.1111111111rem;
  bottom: -6rem;
}

.why-section__container {
  position: relative;
}

.headline {
  text-align: center;
  margin-bottom: 2.7222222222rem;
}

.headline__title {
  margin-bottom: 1.3888888889rem;
}
@media screen and (max-width: 480px) {
  .headline__title {
    margin-bottom: 0.6666666667rem;
  }
}

.headline__subtitle {
  padding: 0 26%;
}
@media screen and (max-width: 480px) {
  .headline__subtitle {
    padding: 0;
  }
}

.reason {
  text-align: center;
}
@media screen and (max-width: 480px) {
  .reason {
    display: flex;
    text-align: left;
  }
}

.reason__illustration {
  display: inline-block;
  width: 7rem;
  height: 7rem;
  position: relative;
  background: #F2F5F4;
  border-radius: 50%;
  overflow: hidden;
  margin-bottom: 1.1111111111rem;
}
@media screen and (max-width: 480px) {
  .reason__illustration {
    margin-bottom: 0;
    margin-right: 1.1111111111rem;
  }
}

.reason__icon {
  width: 3.7777777778rem;
  height: 3.7777777778rem;
  transform: translateY(40%);
}

.reason__title {
  font-weight: bold;
  font-size: 1.5rem;
  line-height: 1.7777777778rem;
  margin-bottom: 1rem;
  color: #000000;
}

.reasons__list {
  display: flex;
}
@media screen and (max-width: 480px) {
  .reasons__list {
    flex-direction: column;
    align-items: center;
  }
}

.reasons__item {
  flex: 1;
  padding: 0 3%;
  position: relative;
  width: 15.3333333333rem;
}
@media screen and (max-width: 480px) {
  .reasons__item {
    width: 100%;
    padding: 0;
    margin-bottom: 19px;
  }
}
.reasons__item:before {
  content: url("../images/content/shapes.png");
  position: absolute;
  top: 1.6666666667rem;
  right: 0;
  transform: translate(50%);
}
@media screen and (max-width: 768px) {
  .reasons__item:before {
    display: none;
  }
}
.reasons__item:first-child {
  padding-left: 0;
}
.reasons__item:last-child {
  padding-right: 0;
}
.reasons__item:last-child:before {
  display: none;
}

.reviews__display {
  padding: 2.7777777778rem 2.5rem 3rem;
  overflow: hidden;
  position: relative;
}
@media screen and (max-width: 480px) {
  .reviews__display {
    padding-right: 0;
    padding-left: 0;
  }
}
.reviews__display:before {
  content: "";
  display: block;
  width: 5rem;
  height: 5rem;
  border-radius: 50%;
  left: 50%;
  transform: translateX(-50%);
  top: -0.8333333333rem;
  position: absolute;
  background: #ffffff;
}

.reviews__display-inner {
  background: url("../images/content/branch.png") right 1.2222222222rem no-repeat, #f8faf9;
  display: flex;
  margin-bottom: 0.8333333333rem;
  padding: 2.3333333333rem 7.8888888889rem 2.3333333333rem 2.3333333333rem;
}
@media screen and (max-width: 768px) {
  .reviews__display-inner {
    padding-right: 2.3333333333rem;
    flex-direction: column;
    text-align: center;
    align-items: center;
  }
}

.reviews__avatar {
  width: 14.1111111111rem;
  height: 14.4444444444rem;
}
@media screen and (max-width: 768px) {
  .reviews__avatar {
    width: 7.2222222222rem;
    height: 7.2222222222rem;
  }
}

.reviews__avatar-img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.reviews__content {
  flex: 1;
}

.reviews__text {
  margin-bottom: 2rem;
}

.reviews__title {
  font-size: 1.6666666667rem;
  font-weight: bold;
  margin-bottom: 1.2222222222rem;
  color: #000000;
}

.reviews__content {
  flex: 1;
  margin-left: 1.1111111111rem;
}

.reviews__author {
  font-size: 1rem;
  font-weight: bold;
  margin-bottom: 1.2222222222rem;
  color: black;
}

.reviews__switcher {
  display: flex;
  justify-content: center;
}

.interactive-avatar {
  width: 4.4444444444rem;
  height: 4.4444444444rem;
  border: 0.3333333333rem solid transparent;
  border-radius: 50%;
  overflow: hidden;
  position: relative;
}
.interactive-avatar--active {
  border-color: #0f5a47;
}

.interactive-avatar__link {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  display: contents;
}

.interactive-avatar__image {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.reviews-section {
  position: relative;
  padding: 3.4444444444rem 0;
  background: url("../images/content/strawberries.png") right 1.2777777778rem top 2.1111111111rem no-repeat;
}
.reviews-section:after {
  content: "";
  background: url("../images/content/berries.png") center center no-repeat;
  position: absolute;
  width: 7.5555555556rem;
  height: 17.8333333333rem;
  left: 0;
  bottom: -8.7222222222rem;
}

.reviews-section__title {
  margin-bottom: 0;
}

.form-section {
  background: url("../images/content/bckgr.png") center center no-repeat;
  background-size: cover;
  padding: 3.4444444444rem 0 4.7222222222rem;
  position: relative;
}
@media screen and (max-width: 768px) {
  .form-section:after, .form-section:before {
    display: none;
  }
}
.form-section:after {
  content: "";
  background: url("../images/content/green-leave.png") center center/contain no-repeat;
  position: absolute;
  width: 7.5rem;
  height: 10.4444444444rem;
  right: 0.5555555556rem;
  bottom: 3.2222222222rem;
}
.form-section:before {
  content: "";
  background: url("../images/content/blackberry.png") center center no-repeat;
  position: absolute;
  width: 2.6111111111rem;
  height: 2.6666666667rem;
  left: 2.8333333333rem;
  bottom: 3.8333333333rem;
}

.form-section__title {
  color: #365A49;
}

@media screen and (max-width: 768px) {
  .form-section__container {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}

.form {
  display: flex;
}
@media screen and (max-width: 768px) {
  .form {
    flex-direction: column;
    padding: 0 15%;
  }
}
@media screen and (max-width: 480px) {
  .form {
    padding: 0;
  }
}

.form__col {
  flex: 1;
  margin-right: 1.1111111111rem;
}
@media screen and (max-width: 768px) {
  .form__col {
    margin-right: 0;
  }
}
.form__col:last-child {
  margin-right: 0;
}

.form__row {
  display: flex;
  margin-bottom: 1rem;
}

.form__block {
  flex: 1;
  margin-right: 1.1111111111rem;
}
.form__block:last-child {
  margin-right: 0;
}

.form__input {
  width: 100%;
  padding: 1rem 0.8888888889rem;
  border: 0.1666666667rem solid transparent;
}
@media screen and (max-width: 768px) {
  .form__input {
    height: 2rem;
  }
}
.form__input:focus {
  border-color: #DEE2BD;
  outline: none;
}

.form__input--textarea {
  height: 10rem;
  resize: none;
}
@media screen and (max-width: 768px) {
  .form__input--textarea {
    height: 4.5555555556rem;
  }
}

.form__controls {
  display: flex;
  flex-wrap: wrap;
  margin-top: 1rem;
}
@media screen and (max-width: 480px) {
  .form__controls {
    justify-content: center;
  }
}

.form__btns {
  margin-top: 2.4444444444rem;
  display: flex;
  justify-content: center;
}

.radio {
  display: flex;
  align-items: center;
  cursor: pointer;
  -webkit-user-select: none;
          user-select: none;
  margin-right: 0.8333333333rem;
}
@media screen and (max-width: 480px) {
  .radio {
    margin-bottom: 0.5555555556rem;
  }
}
.radio--checkbox .radio__visible {
  border-radius: 0;
}
.radio--checkbox .radio__visible:before {
  background: url("../images/icons/checkmark.svg") center center no-repeat;
}
.radio:last-child {
  margin-right: 0;
}

.radio__elem {
  display: none;
}
.radio__elem:checked ~ .radio__visible:before {
  display: block;
}

.radio__visible {
  width: 1.4444444444rem;
  height: 1.4444444444rem;
  position: relative;
  border-radius: 50%;
  background: #ffffff;
  margin-right: 0.5555555556rem;
}
.radio__visible:before {
  content: "";
  width: 0.7777777778rem;
  height: 0.7777777778rem;
  background: #365A49;
  border-radius: 50%;
  position: absolute;
  display: none;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.fixed-menu {
  position: fixed;
  top: 20%;
  right: 3%;
  z-index: 100;
}

.fixed-menu__item {
  margin-bottom: 0.2777777778rem;
}
.fixed-menu__item--active .fixed-menu__action {
  border-color: #ffffff;
}

.fixed-menu__action {
  width: 0.8888888889rem;
  height: 0.8888888889rem;
  border-radius: 50%;
  border: 0.0555555556rem solid transparent;
  display: block;
  position: relative;
}
.fixed-menu__action:before {
  content: "";
  display: block;
  width: 0.3333333333rem;
  height: 0.3333333333rem;
  border-radius: 50%;
  background-color: #ffffff;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.map-section {
  width: 100%;
  background: url("../images/content/map.png") center center no-repeat;
  background-size: cover;
}

.footer {
  position: absolute;
  bottom: 0;
  left: 0;
  min-height: 4.8333333333rem;
  width: 100%;
  background: #ffffff;
}

.footer__container {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 0 35px;
}
@media screen and (max-width: 480px) {
  .footer__container {
    flex-direction: column;
  }
}

.footer__contacts {
  display: flex;
  flex-direction: column;
}
@media screen and (max-width: 480px) {
  .footer__contacts {
    margin-bottom: 10px;
    align-items: center;
  }
}

.socials__list {
  display: flex;
}

.socials__item {
  width: 1.1111111111rem;
  height: 1.1111111111rem;
  margin-right: 0.7777777778rem;
}
.socials__item:last-child {
  margin-right: 0;
}

.socials__link {
  fill: #B3B3B3;
  transition: fill 300ms;
}
.socials__link :hover {
  cursor: pointer;
  fill: #000000;
}

.socials__icon {
  width: 1.1111111111rem;
  height: 1.1111111111rem;
}