// main variables in px
$base-font-size: 18px;
$base-container-size: 940px;

// breakpoints

$tablets: 768px;
$phones: 480px;

// color and size variables
$z-fixed-menu: 100;
$why-section-color: #ffffff;
$main-section-color: #61C4D9;
$button-green: #365A49;
$medium-font-size: 21px;
$medium-line-height: 25px;
$small-font-size: 16px;
$small-line-height: 18px;
$x-medium-font-size: 18px;
$x-medium-line-height: 22px;
$large-font-size: 36px;
$l-medium-font-size: 30px;
$m-small-font-size: 27px;
$x-large-font-size: 48px;
$x-large-line-height: 58px;
